### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!Scripts/tempCodeRunnerFile.py

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.vscode/settings.json
